.DS_Store
node_modules
/dist
/dist_*
/lib/djangobuilder-core/dist
/packages/*/dist
.firebase
firestore-debug.log
.firebaserc
firebase-debug.log

screens/

# env files
.env
.env.local
.env.development
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Testing
ThePetZoo/
tests_output/
chromedriver.log
geckodriver.log
ui-debug.log

# Coverage
coverage/

# Build if changed
.bic_cache

**/.venv
DjangoProject/
lib/djangobuilder-core/*.tar
packages/*.tar.gz
output.tar