.label-rotate {
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); /* IE 9 */
    -webkit-transform:rotate(-15deg); /* Opera, Chrome, and Safari */
    padding:12px .6em .3em
}
h4 {
    color: #ff4136;
}
.modal {
    overflow-y: scroll
}
.modal-header, .modal-body, .modal-footer {
    padding: 15px 15px;
}
.modal-body {
    padding: 15px 35px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
.modal-header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px 10px;
    background-color:#158cba;
    color:white;
}
.modal-header-inner{
    font-weight: bold;
    text-align: center;
    color: #fefefe;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-footer{
    padding: 10px;
}
a:link {
    text-decoration: none;
}
.builder_icon {
    color: #158cba;
}
.builder_code {
    background-color: #efefef;
    font-size: 10px;
}
.builder_code_pre {
    background-color: transparent;
    border: none;
    font-size: 10px;
    margin: 0;
    padding-top: 0;
}
.builder_code_pre:first-child {
    padding-top: 10px;
}
.builder_code_pre:last-child {
    padding-bottom: 10px;
}
.builder_a {
    cursor: pointer;
}
.builder_a:link {
    text-decoration: none;
}
.builder_model_remove i {
}
.builder_model_table {
    margin-bottom: 4px;
}
.builder_new_model_table tbody td:nth-child(1){width:20%;}
.builder_new_model_table tbody td:nth-child(2){width:30%;}
.builder_new_model_table tbody td:nth-child(3){}
.builder_new_model_table tbody td:nth-child(4){width:10%;}

.builder_model {
    border-radius: 4px;
    padding: 4px 8px 10px;
    border: 1px solid silver;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.45);
    margin-bottom: 15px;
}
.builder_model_header {
    word-break: break-all;
}
.builder_model_params_td {
    /*word-break: keep-all;*/
}
.builder_model_table i{
    vertical-align:baseline;
}
.builder_model_add_field {
}
.builder_model_highlight {
    -webkit-box-shadow: 3px 3px 12px 0px rgba(240, 50, 50, 0.65);
    -moz-box-shadow:    3px 3px 12px 0px rgba(240, 50, 50, 0.65);
    box-shadow:         3px 3px 12px 0px rgba(240, 50, 50, 0.65);
}
.builder_model_highlight th{
    color: #ff4136;
}
.col0 {
    clear: both;
}

.ace_editor {
    height: 740px;
}
.dropdown-menu>li>a.builder_model_remove {
    color: #ff4136;
}
.builder_model_table.table-condensed>thead>tr>th, .builder_model_table.table-condensed>tbody>tr>th,
.builder_model_table.table-condensed>tfoot>tr>th, .builder_model_table.table-condensed>thead>tr>td,
.builder_model_table.table-condensed>tbody>tr>td, .builder_model_table.table-condensed>tfoot>tr>td {
    padding: 4px;
    border: none;
}
.builder_break {
    word-break: break-all;
}
.container .jumbotron{
    border-radius: 135px 0;
}

.builder_btn_group .btn {
}

.builder_btn_group[data-toggle="buttons"]>.btn>input[type="radio"], [data-toggle="buttons"]>.btn>input[type="checkbox"] {

}
.builder_dnd_target {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px dotted lightgray;
    margin: 5px;
    padding: 10px;
}
.builder_dnd_target_small {
    margin: 0;
    padding: 0;
    border: none;
}
.builder_dnd_icon {
    color: #ff4136;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.is-drag-over {
    border: 1px solid lightgreen;
    color: green;
}
.is-drag-over > .builder_dnd_icon  {
    color: green;
}

/* file button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.builder_upload_models_py,
.builder_upload_models_py:hover {
    width: 50%;
    margin-top: 15px;
    border-bottom-width: 4px;
}

.builder_home_links {
    margin-top: 30px;
}
