<pre class="builder_code_pre">
from django.contrib import admin
from django import forms
{{import_models()}}
{{import_forms()}}</pre><pre ng-repeat="model in models" class="builder_code_pre">

class {{ model.name }}AdminForm(forms.ModelForm):

    class Meta:
        model = {{ model.name }}


class {{ model.name }}Admin(admin.ModelAdmin):
    form = {{ model.name }}AdminForm
    list_display = {{ model.admin_fields() }}
    readonly_fields = {{ model.admin_read_only_fields() }}

admin.site.register({{ model.name }}, {{ model.name }}Admin)
</pre>