<pre class="builder_code_pre">
from django import forms
{{import_models()}}
from crispy_forms.helper import FormHelper
from crispy_forms.layout import Submit

</pre><pre ng-repeat="model in models" class="builder_code_pre">
class {{ model.name }}Form(forms.ModelForm):
    class Meta:
        model = {{ model.name }}
        fields = {{ model.form_fields() }}

    @property
    def helper(self):
        helper = FormHelper()
        helper.form_id = '{{model.name}}-form'
        helper.form_class = '{{model.name}}-form'
        helper.add_input(Submit('save', 'Save'))
        return helper
)

</pre>