<pre class="builder_code_pre">
from django.db import models
from django.core.urlresolvers import reverse
from django_extensions.db.fields import AutoSlugField</pre><pre ng-repeat="model in models" class="builder_code_pre">

class {{model.name}}(models.Model):
<span ng-repeat="field in model.fields" class="builder_code_pre">
    {{ field.name }} = models.{{ field.type }}({{ field.opts }})</span>

    class Meta:
        ordering = ('-{{ model.ordering_field()}}', )

    def __unicode__(self):
        return u'%s' % self.{{ model.name_field()}}

    def get_absolute_url(self):
        return reverse('{{ app_name()| lowercase }}_{{ model.name| lowercase }}_detail', args=(self.{{ model.identifier()}}, ))

    def get_update_url(self):
        return reverse('{{ app_name()| lowercase }}_{{ model.name| lowercase }}_update', args=(self.{{ model.identifier()}}, ))
</pre>