<div id="builder_home_content">
<div ng-app>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Updates - 22nd March 2016 </h4>
                        <ul class="list-group">
                            <li class="list-group-item"> Generation of models from a models.py file.</li>
                        </ul>
                        <h4>Updates - 4th Dec 2015 </h4>
                        <ul class="list-group">
                            <li class="list-group-item"> Add Django User and Group models</li>
                        </ul>

                        <h4>Updates - 10th Nov 2015 </h4>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info"><i class="fa fa-star"></i> Django Rest Framework support <i class="fa fa-star"></i></li>
                            <li class="list-group-item">Rename Model</li>
                            <li class="list-group-item">Code style changes</li>
                            <li class="list-group-item">Bug Fixes</li>
                        </ul>

                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#updates_older" aria-expanded="false" aria-controls="updates_older">
                          Older Updates
                        </button>
                        <div class="collapse" id="updates_older">
                          <div class="">
                            <h4>Updates - 16th June 2015 </h4>
                            <ul class="list-group small">
                                <li class="list-group-item">Source code on github</li>
                                <li class="list-group-item">Persistence between sessions</li>
                                <li class="list-group-item">Default Field parameters</li>
                            </ul>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h1 style='font-weight: bold;font-variant: small-caps'>Django Builder <i class="fa fa-cog fa-cog  builder_icon" style=""></i></h1>
                        <p style="color: gray">building things....</p>
                        <br>
                        <div><span class="label label-success">Django 1.7 <i class="fa fa-check"></i></span></div>
                        <br>
                        <a class="btn btn-lg btn-primary" href="#models">Get Started -></a>
                        <div class="text-center builder_home_links">
                            <a href="https://github.com/mmcardle/django_builder" target="_blank"><i class="fa fa-github"></i>  Django Builder on Github</a>&nbsp;&nbsp;&nbsp;
                            <a href="https://github.com/mmcardle/" target="_blank"><i class="fa fa-github"></i>  mmcardle</a>&nbsp;&nbsp;&nbsp;
                            <a href="https://twitter.com/mmc4rdle" target="_blank"><i class="fa fa-twitter"></i> @mmc4rdle</a>
                            <hr style="width: 50%;margin-left: auto;margin-right: auto">
                            <div class="lead">If you want to support Django Builder, feel free to donate using the PayPal link below.</div>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="L59T3C67CNC8G">
                                <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0"
                                       name="submit" alt="PayPal – The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
