<div ng-app>
<div class="jumbotron text-center">
    <div class="row">
        <div class="col-lg-12">
            <h1 style='font-weight: bold;font-variant: small-caps'>Django Builder <i class="fa fa-cog fa-cog  builder_icon" style=""></i></h1>
            <p style="color: gray">building things....</p>
            <br>
            <a class="btn btn-lg btn-primary" href="#models">Get Started -></a>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="https://github.com/mmcardle/" target="_blank"><i class="fa fa-github"></i>  mmcardle</a>&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/mmc4rdle" target="_blank"><i class="fa fa-twitter"></i> @mmc4rdle</a>
        </div>
    </div>
</div>