<div id="builder_models_content">
  <ng-include src="'/app/partials/app.html'"></ng-include>
  <hr>
  <div class="row">
      <div class="col-md-6">
          <h4>settings.py</h4>
          <div id="builder_settings" ui-ace="{
            useWrapMode : true,
            showGutter: false,
            theme:'dawn',
            mode: 'python',
            onLoad: aceLoaded,
            onChange: aceChanged
          }">
          </div>
      </div>
      <div class="col-md-6">
          <h4>requirements.txt</h4>
          <div id="builder_requirements" ui-ace="{
            useWrapMode : true,
            showGutter: false,
            theme:'dawn',
            mode: 'python',
            onLoad: aceLoaded,
            onChange: aceChanged
          }">
          </div>
      </div>
      <div class="col-md-6">
          <h4>wsgi.py</h4>
          <div id="builder_wsgi" ui-ace="{
            useWrapMode : true,
            showGutter: false,
            theme:'dawn',
            mode: 'python',
            onLoad: aceLoaded,
            onChange: aceChanged
          }">
          </div>
      </div>
  </div>
</div>
