{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-3 col-md-6">
            <div class="well">
                <h1>Please Login!</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="login" class="btn btn-primary"/>
                </form>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->
{% endblock %}