.modal-header, .modal-body, .modal-footer {
    padding: 15px 15px;
}
.modal-body {
    padding: 15px 35px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
.modal-header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    background-color:#428bca;
    color:white;
}

.modal-footer{
    padding: 10px;
}

.builder_icon {
    color: #0040D0;
}

a:link {
    text-decoration: none;
}