{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Django Builder <i class="fa fa-cog fa-cog  builder_icon" style=""></i></h1>
        <div class="row">
            <div class="col-lg-10">

                <a class="btn btn-primary" href="/builder_app/models">Get Started -></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="https://github.com/mmcardle/" target="_blank"><i class="fa fa-github"></i>  mmcardle</a>&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/mmc4rdle" target="_blank"><i class="fa fa-twitter"></i> @mmc4rdle</a>
        </div>
    </div>
{% endblock %}